{% extends 'base.html' %}

{% block title %}
<title>Its me Sanidhya !</title>
{% endblock %}

{% block header %}
<div class="card">
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="container">
            <div class="card">
                <img style="height: 50vh;" src="{{img}}">
            </div>
        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
<br>
<div class="container">
<h1>{{name}}</h1>
</div>
<br>
<div class="container">
<h3 >Product Developer</h3>
</div>
<br>
<div class="container">
<div class="Card">
<h3>Hey Guys i am Python Data Science and Visualization Enthusiast. I love developing visualizations to analize data ina meaningful way.</h3>
    <h3><a href="">#stayhome</a></h3>
</div>
</div>
</div>
{% endblock %}